body{
    font-family:Arial, Helvetica, sans-serif;
    line-height:1.6;
    margin:0;
    background: linear-gradient(
        299deg,
        rgba(81, 5, 105, 1) 0%,
        rgba(31, 4, 105, 1) 39%,
        rgba(13, 34, 102, 1) 76%,
        rgba(89, 4, 89, 1) 97%
      );
      background-blend-mode: lighten;
}

header{
    background: radial-gradient(
        100% 100% at 50% 50%,
        rgba(117, 8, 161, 1) 15%,
        rgba(20, 29, 112, 1) 51%
      );
      background-blend-mode: normal;
    color:antiquewhite;
    padding:10px 0;
    position:sticky;
    top:0%;
    z-index:10;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.nav h2{
    visibility: visible;
    font-size:120%;
    color:antiquewhite;
    font-style: italic;
}

.nav-logo {
    width: 60px;
    height: auto;
}

.nav-links {
    display: none;
    flex-direction: column;
    list-style: none;
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
    border-top: 2px solid blue;
}

.nav-links li {
    border-bottom: 1px solid blue;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}

.nav-links li a:hover {
    color: red;
    background-color: whitesmoke;
}

.menu-toggle-label {
    font-size: 24px;
    cursor: pointer;
    color: white;
    padding: 10px;
    z-index: 10;
}

.menu-checkbox {
    display: none;
}

.menu-checkbox:checked ~ .nav-links {
    display: flex;
}


@media (min-width: 768px) {
    .nav {
        padding: 5px 50px;
    }

    .nav h2{
        visibility: hidden;
    }

    .nav-links {
        padding-left:0%;
        display: flex;
        flex-direction: row;
        position: static;
        border: none;
        border: 2px solid blue;
        justify-content:space-between;
    }

    .nav-links li {
        border: none;
        padding:1% 0 0 0;
        margin: 0;
    }

    .nav-links li a {
        padding: 10px 30px;
        font-size:80%;

    }

    .menu-toggle-label {
        display: none;
    }

    .nav-logo {
        width: 100px;
        height: auto;
        margin: 0; 
        padding: 0;
    }
}


.intro{
    margin:0;
    padding-top: 1%;
    background: conic-gradient(
        from 40deg at -65% 13%,
        rgba(171, 29, 179, 1) 35deg,
        rgba(169, 149, 194, 1) 77deg
      );
      background-blend-mode: normal;
}

.intro h1{
    font-size: 200%;
    padding-top:3%;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.5cm;
}

.intro h3{
    text-align: center;
    padding-bottom: 2%;
    font-size: 100%;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.intro p{
    text-align: center;
    font-size: 80%;
    line-height: 150%;
    padding:0 5% 3% 5%;
    font-family:Arial, Helvetica, sans-serif;
}


@media (min-width:768px){
    .intro h1{
        font-size: 400%;
    }intro h3{
        font-size: 250%;
    }
    .intro p{
        font-size: 120%;
        padding-bottom:3%;
    }
}


.games{
    display:flex;
    flex-direction: column;
    gap:7%;
}
.games h2{
    text-align: center;
    color: white;
    font-size: 130%;
}

.game-item{
    display:flex;
    flex-wrap:wrap;
    align-items: flex-start; /*aligns at the top*/
    gap:5%;
    padding:2%;
    margin:1%;
    overflow:hidden;
    border:1px groove black;
    transition:transform 0.3s ease-in-out;
    justify-content: center;
}

.game-item img{
    padding:1%;
    width:50%;
    height:auto;
    margin:5%;
    border:1px;
    border-style: solid;
    border-color: rgb(156, 156, 156);

}

.game-item:hover img {
    transform: scale(1.1); 
}

.detail{
    display:none;
    color:white;
}

.detail h3{
    text-align: center;
    font-size: 150%;
    margin: 0 0 5%;
        background-color: rgb(222, 138, 222);
}

.detail p{
    line-height: 0.5cm;
    margin:0;
    font-size:80%;
    font-style: italic;
}

.game-item:hover .detail{
    display:block;
}

@media (min-width:768px){
    .games h2{
        text-align: left;
        font-size: 200%;
    }
    .game-item img{
        width:15%;
        margin:0;
    }
    .detail{
        flex:1; /*takes remaining space*/
    }
    .detail h3{
        font-size:200%;
    }
    .detail p{
        line-height: 1cm;
        font-size:120%;
    }
}



footer{
    border: 2px dashed blue;
    text-align:left;
    background-image: url('../imgs/footer-header.jpg');
    background-size: cover;
    padding: 20px;
    color: antiquewhite;
    text-decoration: none;
}


.footer-logo{
    width:20%;
    padding-left:40%;
}

.links {
    display: flex;
    flex-direction: column;

}

.links div {
    margin-bottom: 20px;
}

.quick ol li a{
    text-decoration:none;
    color:antiquewhite;
}


@media (min-width: 768px) {
    
    .footer-logo{
        display:block;
        margin:auto;
        padding:1% 30%;
        width:10%;
        height:auto;
    }
    
    .links{
        flex-direction: row;
        justify-content: space-around;
    }
    
    .quick{
        color:antiquewhite;
        font-size: 100%;
    }
    
    .quick ol{
        color: antiquewhite;
    }
    
    .quick ol li a{
        text-decoration:none;
        color:antiquewhite;
    }
    
    .contact{
        color:antiquewhite;
        font-size: larger;
    }
    
    .contact li{
        color:antiquewhite;
    }
    
    .follow{
        color:antiquewhite;
        font-size: larger;
    }
    
    .follow li{
        color:antiquewhite;
    }

}